@charset "utf-8";
/* CSS Document */
table {
    width: 1000px;
    background-color: #079FDF;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    width: 500px;
    background-color: #0BF8FC;
    border-width: 10px;
    color: #FFFFFF;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 900;
    font-size: xx-large;
    line-height: 50%;
    text-align: right;
    text-decoration: underline;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,227,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,227,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,227,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,227,255,1.00) 100%);
}
p {
    background-color: #83BBFF;
    border-bottom-style: none;
    border-bottom-width: thick;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
h2 {
    background-color: undefined;
}
body table {
    background-color: #70EFF9;
}
td {
    color: #165CFF;
}
